html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

body {
    background-image: url(./M5.png);
    background-repeat: no-repeat;
    /*чтоб картинка была всегда только на заднем плане по умолчанию*/
    background-size: cover;
    margin: 0;
    /* Убирает отступы по умолчанию */
    padding: 0;
    /* Убирает внутренние отступы по умолчанию */
    border: none;
    /* Убирает рамки */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.left-image {
    flex: none;
    /* Отменяем растягивание, чтобы изображения не занимали всю доступную ширину */
    margin-top: -10px;
    /* Поднимаем изображения над базовой линией текста*/
}

.right-image {
    flex: none;
    /* Отменяем растягивание, чтобы изображения не занимали всю доступную ширину */
    margin-top: -10px;
    /* Поднимаем изображения над базовой линией текста*/
}

.center-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.center-text {
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    margin-right: 70px;
}

.maintext {
    margin-left: 70px;
    margin-top: 240px;
    font-size: 22px;
}

.ordernow {
    border-radius: 16px;
    padding: 14px 39px 14px 39px;
    background-color: aliceblue;
    font-size: 22px;
    margin-left: 80px;
    margin-top: 30px;
    border: 1px solid white;
    cursor: pointer;
}

.features {
    border-radius: 16px;
    padding: 14px 39px 14px 39px;
    font-size: 22px;
    margin-left: 70px;
    margin-top: -40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.mainfeatures {
    display: flex;
    text-align: left;
    padding: 150px;
    justify-content: space-between;
    /* Распределение элементов по горизонтали */
    width: 800px;
    margin: 10px;
}

span {
    display: flex;
    flex-direction: column;
    /*отображение элементов в колонке*/
    align-items: center;
    font-size: 17px;
}

b {
    color: #E73E3D;
}

.feature {
    flex: 1;
    text-align: center;
}

.buttons {
    position: relative;
    display: flex;
    gap: 10px;

}

#Comp {
    position: absolute;
    border-radius: 16px;
    font-size: 17px;
    Width: 178px;
    Height: 50px;
    bottom: 200px;
    right: 600px;
    flex: 1;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}

#M50 {
    position: absolute;
    border-radius: 16px;
    font-size: 17px;
    Width: 293px;
    Height: 50px;
    bottom: 200px;
    right: 300px;
    flex: 1;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}

#CS {
    position: absolute;
    border-radius: 16px;
    font-size: 17px;
    Width: 100px;
    Height: 50px;
    bottom: 200px;
    right: 190px;
    flex: 1;
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}