html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

body {
    background-image: url(./M5.png);
    background-repeat: no-repeat;
    /*чтоб картинка была всегда только на заднем плане по умолчанию*/
    background-size: cover;
    margin: 0;
    /* Убирает отступы по умолчанию */
    padding: 0;
    /* Убирает внутренние отступы по умолчанию */
    border: none;
    /* Убирает рамки */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.left-image {
    flex: none;
    /* Отменяем растягивание, чтобы изображения не занимали всю доступную ширину */
    margin-top: -10px;
    /* Поднимаем изображения над базовой линией текста*/
}

.right-image {
    flex: none;
    /* Отменяем растягивание, чтобы изображения не занимали всю доступную ширину */
    margin-top: -10px;
    /* Поднимаем изображения над базовой линией текста*/
}

.center-content {
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.center-text {
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    margin-right: 70px;
}

.maintext {
    margin-left: 50px;
    margin-top: 240px;
    font-size: 20px;
}

.ordernow {
    border-radius: 16px;
    padding: 14px 39px 14px 39px;
    background-color: aliceblue;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 30px;
    border: 1px solid white;
    cursor: pointer;
}

.features {
    border-radius: 16px;
    padding: 14px 39px 14px 39px;
    font-size: 18px;
    margin-left: 70px;
    margin-top: -40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.mainfeatures {
    display: flex;
    Width: 573px;
    Height: 100px;
    Top: 885px;
    Left: 98px;
    margin-left: 90px;
    margin-top: 170px;
}

.inform {
    text-align: center;
    font-size: 17px;
    margin-right: 40px;
}

h3 {
    font-size: 50px;
    margin-top: 20px;
}

b {
    color: #E73E3D;
}

.buttons {
    display: flex;
    text-align: center;
    margin-left: 860px;
    margin-top: -60px;
}

.CMC {
    margin-left: 5px;
    font-size: 15px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgba(255, 0, 0, 0);
    color: aliceblue;
    cursor: pointer;
}