html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background: url("./908bf43d530ddf25e5a290c3a83d1828.jpg") no-repeat center center/cover;
    z-index: -2;
}



.back {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*масштабирование картинки*/
    z-index: 0;
    /*z-index меньше,
        чем у header,
        чтобы картинка была позади header*/
}

header {
    width: 100%;
    opacity: 100;
    /*делаем фон header`a прозрачным */
    z-index: 2;
    /* делаем z-index больше, чем у картинки, чтобы header был поверх него*/
    text-align: right;
    font-size: 15px;
    /*размер шрифта*/
    font-weight: 1000;
    color: aliceblue;

}

h1 {
    font-size: 80px;
    text-align: center;
    color: #FFF;
    margin: 150px;
    margin-left: 150px;
    z-index: 2;
}

b {
    color: #F29D26;
}

.shadow {
    /*затемнение в верхней части экрана*/
    position: absolute;
    width: 100%;
    height: 60vh;
    background: linear-gradient(180deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
    z-index: -1;
    left: 0;
    top: 0;
}

p {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: end;
}

.container {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    /*по горизонтали*/
    align-items: flex-end;
    /*выравнивание по нижнему краю*/
    gap: 16px;
    margin-top: auto;
    /*прибивает к низу страницы*/
    padding-bottom: 60px;
    top: 150px;
}

.block {
    padding: 16px;
    width: 280px;
    height: 240px;
}

.text {
    color: #283646;
    font-size: 70px;
}

h3 {
    font-size: 15px;
    margin-bottom: -20px;
    margin-right: 170px;
}

h2 {
    margin-right: 70px;
}